/*give the body height:100% so that its child elements can have percentage heights*/
body{ 
  height:100%;
  padding: 0px;
  margin: 0px;
}

#map {
  display:block;

  /*set the div in the top-left corner of the screen*/
  position:absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  
  /*set the width and height to 100% of the screen*/
  width:100%;
  height:100%;
}

